.App {
  overflow: hidden;
}
.main-content {
  overflow: hidden;
  margin-top: 65px;
  width: 100%;
  height: 100%;
}

.course-header {
  height: 70px;
  width: 100%;
  background-color: lightgray;
  color: black;
  padding: 20px;
  display: flex;
  align-items: center;
  font-size: xx-large;
  justify-content: space-between;
}

.course-tree {
  /* border-left: 1px solid black; */
  border-right: 1px solid lightgray;
  height: 900px;
  width: 200px;
}

.course-body-inner {
  display: flex;
}

.course-progress-tracker {
  width: 400px;
  height: 400px;
  margin-left: 250px;
}

.hours-worked-graph {
  height: 300px;
  width: 800px;
  padding-left: 50px;
  padding-right: 50px;
}

.course-inner {
  padding: 20px;
  /* height: 800px; */
  overflow: auto;
  min-width: 900px;
}

.course-body {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.active-assignments {
  border: 1px solid lightgray;
  padding: 20px;
  padding-top: 10px;
  margin: 10px;
  width: 20%;
  height: 800px;
}


.MuiTreeItem-root > .MuiTreeItem-content > .MuiTreeItem-label {
  font-size: large;
}

.home-content {
  padding: 50px;
}

.btn-primary:active, .btn-primary:focus {
  background-color: red;
}