.Appx {
    margin-top:40px;
    margin-left:20px;
    width:auto;
    display: flex;    
}
.fc{
    margin-top:80px;
}
.fc-toolbar-chunk{
    margin:5px;
}

.fc-media-screen{
    height:900px;
    width:900px;
}                                                                                       

.fc-daygrid-day-events{
    
    height:75px;
    overflow:auto;
    cursor:pointer;
    
}

.fc-h-event:hover{
    
    box-shadow:#00000050 inset 2px 2px 2px;
    
}


.fc-daygrid-day:hover{
    background-color:#eeeeee;
}


.grid-item{
    height:900px;
    width:900px;
}

#gi1{
    width:450px;
    text-align: left;
}

input:checked{
    fill:black;
}