body{
    margin-top:40px;
    margin-left:20px;
    width:auto;
    display: flex;    
}
.fc{
    margin-top:80px;
}
.fc-toolbar-chunk{
    margin:5px;
}

.fc-media-screen{
    height:650px;
    width:900px;
}                                                                                       

.fc-daygrid-day-events{
    
    height:75px;
    overflow:auto;
    
}

.fc-daygrid-day:hover{
    background-color:#eeeeee;
}


.grid-item{
    border: solid black 3px;
    
}

#gi1{
    width:450px;
    text-align: left;
}
