body {
    margin-top:40px;
    margin-left:20px;
    width:auto;
    display: flex;
    flex-wrap:wrap;
    
}

.fc-toolbar-chunk{
    margin:5px;
}

.fc-media-screen{
    height:650px;
    width:900px;
}

.grid-item{
    border: solid black 3px;
    
}

#gi1{
    width:450px;
    text-align: left;
}

input[type="checkbox" i]{
    appearance: auto;
}

