
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(122, 153, 255);
}

.flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    font-weight: bold;
}